---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Cookie-Richtlinie">
  <div class="section-spacing max-w-3xl mx-auto px-4">
    <h1 class="text-4xl mb-8">Cookie-Richtlinie</h1>
    <div class="prose prose-slate">
      <p>Diese Website verwendet Cookies. Cookies sind kleine Textdateien, die beim Besuch dieser Website in Ihrem Computer dauerhaft oder temporär gespeichert werden.</p>
      <p>Zweck der Cookies ist insbesondere die Analyse der Nutzung dieser Website zur statistischen Auswertung sowie für kontinuierliche Verbesserungen.</p>
    </div>
  </div>
</Layout>
